<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/master.css" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-toggleable-md navbar-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Sway</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/swaywm/sway/releases">Releases ≫</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/swaywm/sway">Source Code ≫</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/swaywm/sway/wiki">Wiki ≫</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://webchat.freenode.net/?channels=sway&uio=d4">Support Chat ≫</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="main">
        {{ content }}
      </div>
    </div>
  </body>
</html>
